{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="container-inner">
	        {% for flash_message in app.session.flashbag.get('notice') %}
		        <div class="alert alert-success" role="alert">
		            {{ flash_message }}
		        </div>
		    {% endfor %}
		  	<div class="well">
				{{ form_start(edit_profile_form) }}
				    <fieldset>
                        <legend><i class="fa fa-user"></i>{{ "title.user_profile"|trans }}</legend>
				    <div class="form-group">
				    	{{ form_row(edit_profile_form.surname, { 'attr': {'class': 'form-control'} }) }}
				    </div>
				    <div class="form-group">
				    	{{ form_row(edit_profile_form.name, { 'attr': {'class': 'form-control'} }) }}
				    </div>
				    <div class="form-group">
				    	{{ form_row(edit_profile_form.email, { 'attr': {'class': 'form-control'} }) }}
				    </div>
				    <div class="form-group">
				    	{{ form_row(edit_profile_form.username, { 'attr': {'class': 'form-control'} }) }}
				    </div>
				    <hr>
                    <button class="btn btn-success" type="submit">{{ "button.user_profile"|trans }}</button>
			    </fieldset>
				{{ form_end(edit_profile_form) }}
			</div>
		</div>
	</div>
{% endblock %}
