{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="container-inner">
	        {% for flash_message in app.session.flashbag.get('notice') %}
		        <div class="alert alert-success" role="alert">
		            {{ flash_message }}
		        </div>
		    {% endfor %}
		  	<div class="well">
				{{ form_start(form) }}
				    <fieldset>
                    <legend>{{ "title.forgot_password"|trans }}</legend>
                    <div class="form-group">
				    	{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
				    </div>
                    <button class="btn btn-success" type="submit">{{ "button.forgot_password"|trans }}</button>
				    <hr>
				    <p>Have login? >  <a href="{{ path('security_login_form') }}">Login</a></p>
				    </fieldset>
                {{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
