{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_user_show' %}

{% block main %}
    <h1>{{ 'menu.users'|trans }} {{ user.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'user.surname'|trans }}</th>
                <td>{{ user.surname }}</td>
            </tr>
            <tr>
                <th>{{ 'user.name'|trans }}</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('admin_user_index') }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_user_delete', { id: user.id }) }}" class="btn btn-lg btn-block btn-danger">{{ 'action.delete_user'|trans }}</a>
    </div>
{% endblock %}
